<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample Haml Editor"
            extensions="haml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="hamleditor.editors.Editor"
            id="hamleditor.editors.Editor">
      </editor>
   </extension>

</plugin>
